---
import Layout from '../layouts/Layout.astro';
import Question from '../components/Question.astro'
import Popup from '../components/Popup.astro'
import Countdown from '../components/Countdown.astro';
---
<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 100%;
		max-width: calc(100% - 2rem);
		font-size: 20px;
		line-height: 1.6;
	}

	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-top: 1em;
	}

	@media (max-width: 768px) {
		main {
			padding: 0.5rem;
			font-size: 18px;
		}

		h1 {
			font-size: 3rem;
		}
	}

	@media (max-width: 480px) {
		main {
			padding: 0.5rem;
			font-size: 16px;
		}

		h1 {
			font-size: 2.5rem;
		}
	}
</style>

<Layout title="Give me my fuckin money!">
	<main>
		<h1 class="text-neon-medium-light my-5">
			Quiz <span class="text-neon-light">Vero</span> & <span class="text-neon-light">Martí</span>
		</h1>

		<Countdown />
		
		<Question 
			question=0
		/>

		<Popup text='Hola'/>
	</main>
</Layout>

<script>
	localStorage.setItem('hearthSize', '0.75');
</script>


