---
import Layout from '../layouts/Layout.astro';
import Question from '../components/Question.astro'
import Popup from '../components/Popup.astro'
---

<Layout title="Give me my fuckin money!">
	<main>
		<h1 class="text-neon-medium-light">
			Quiz <span class="text-neon-light">Vero</span> & <span class="text-neon-light">Martí</span>
		</h1>
		
		<Question 
			question=0
		/>

		<Popup text='Hola'/>
	</main>
</Layout>


<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
		margin-top: 1em;
	}
</style>
